<template>
  <div class="forest-square" :style="{ backgroundColor: forest?.etat }"></div>
</template>

<script lang="ts">
import Forest from '@/components/Forest';

export default {
  name: 'forest-component',
  props: {
    forest: Forest
  },

};
</script>

<style scoped>
    .forest-square {
        margin: 2px;
        border: 1px solid green;
        width: 50px;
        height:50px;
    }
</style>
