<template>
  <div class="grid-container">
    <ForestComponent v-for="(forest, index) in forests" :key="index" :forest="forest"></ForestComponent>
  </div> 
  <button class="button-depart-feu" @click="departFeu()">Départ de feu</button>
</template>

<script setup lang="ts">
  import config from '@/config';
  import { onMounted, ref } from 'vue';
  import Forest from '@/components/Forest';
  import ForestComponent from './ForestComponent.vue';

  const racineCarree = Math.floor(Math.sqrt(config.tailleForet));
  const forests = ref<Array<Forest>>([]);
  const forestsInFire: Array<Forest> = [];

  onMounted(() => {
    initializeForests();
  });

  const initializeForests = (() => {
    for (let x = 1; x <= racineCarree; x++) {
      for (let y = 1; y <= racineCarree; y++) {
        const forest = new Forest(x, y);
        forests.value.push(forest);
      }
    }
  });

  const departFeu = (() => {
    const randomX = Math.round(Math.random() * racineCarree);   
    const randomY = Math.round(Math.random() * racineCarree); 
    
    const randomForest: Forest | undefined = findForest(randomX, randomY);
    console.log(randomForest);

    if (randomForest && randomForest.isNormal()) {
      forestsInFire.push(randomForest);
      propage();
    }

  });

  const propage = (() => {

    forestsInFire.forEach(forest => {
      
      forest.turnToFire();

      if (forest.coordX > 1 && isFirePropage()) {
        const newCoordX = forest.coordX - 1;
        const forestToBurn = findForest(newCoordX, forest.coordY);

        if (forestToBurn && findForest(newCoordX, forest.coordY)) {
          forestsInFire.push(forestToBurn);
        }
        
      }

      if (forest.coordX < racineCarree && isFirePropage()) {
        const newCoordX = forest.coordX + 1;
        const forestToBurn = findForest(newCoordX, forest.coordY);
        if (forestToBurn) {
          forestsInFire.push(forestToBurn);
        }
      }
    });
  });

  const findForest = ((x: number, y: number): Forest | undefined => {
    return forests.value.find((forest) => forest.coordX === x && forest.coordY === y);
  });

  const isFirePropage = (() => {
    return Math.random() < config.propagationProbability;
  });
  
</script>

<style scoped lang="scss">

  .grid-container {
    display: grid;
    grid-template-columns: repeat(v-bind(racineCarree), auto);
  }

</style>
