<template>
  <div class="conteneur">
    <!-- <div class="square-grid" v-for="(hauteur, hauteurIndex) in tailleCoteCarre" :key="hauteurIndex">
    <ForestComponent 
      v-for="(largeur, largeurIndex) in tailleCoteCarre"
      v-for="(largeur, largeurIndex) in tailleCoteCarre"
      :key="largeurIndex"
      :forest="createForest(hauteur, largeur)"
    ></ForestComponent>
    </div>
    <button class="button-depart-feu" @click="departFeu()">Départ de feu</button>
    <button class="button-depart-feu" @click="tornadoFlamme()">Tornade de feu</button>
    <button class="button-depart-feu" @click="reset()">Reset</button> -->
    <InitForestsComponent></InitForestsComponent>
  </div>
  
</template>

<script setup lang="ts">

import { ref } from 'vue';
import ForestComponent from '@/components/ForestComponent.vue';
import Forest, { State } from '@/components/Forest';
import config from './config';

const tailleCoteCarre = ref(config.tailleForet);
const forests = ref<Array<Forest>>([]);
const propagationProbability = config.propagationProbability;

function reset() {
  forests.value = [];
}

function createForest(hauteur: number, largeur: number): Forest {
  let foundForest = forests.value.find((forest)=> forest.coordX === hauteur && forest.coordY === largeur);
  if (foundForest) {
    return foundForest;
  }
  const forest =  new Forest(hauteur, largeur);
  forests.value.push(forest);
  return forest;
}

function departFeu() {
  const randomX = Math.floor(Math.random() * tailleCoteCarre.value) + 1;
  const randomY = Math.floor(Math.random() * tailleCoteCarre.value) + 1;
  turnToBurn(randomX, randomY);
}

function turnToBurn(x: number, y: number) {
  let foundForest = forests.value.find((forest)=> forest.coordX === x && forest.coordY === y);
  if (!foundForest?.isOnAsh()) {
    foundForest?.turnToFire();
    setTimeout(() => propage(foundForest), 1000);
  }
}

function propage(forest: Forest | undefined) {

  if (forest && forest.etat !== State.Cendre) {
    if (forest.coordX < tailleCoteCarre.value) {
      const newCoordX = forest.coordX + 1;
      turnToBurn(newCoordX, forest.coordY);
      forest.turnToAsh();
    }

    if (forest.coordX > 1) {
      const newCoordX = forest.coordX - 1;
      turnToBurn(newCoordX, forest.coordY);
      forest.turnToAsh();
    }

    if (forest.coordY < tailleCoteCarre.value) {
      const newCoordY = forest.coordY + 1;
      turnToBurn(forest.coordX, newCoordY);
      forest.turnToAsh();
    }

    if (forest.coordY > 1) {
      const newCoordY = forest.coordY - 1;
      turnToBurn(forest.coordX, newCoordY);
      forest.turnToAsh();
    }
  }
  console.log('je suis appelé');
}


</script>

<style scoped>
  .square-grid {
    display: grid;
    grid-template-columns: repeat(26, 1fr);
    grid-template-rows: repeat(1, 1fr);
  }
  .button-depart-feu {
    margin-top: 20px;
  }
  .conteneur {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
</style>
